<!doctype html>
<html>
<head>
    <title>Chen's Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <ul>
            {% for post in posts %}
                {% set depth = post['relative_path'].split('/') | length %}
                <li class="post-item {% if depth > 1 %}sub-post{% else %}main-post{% endif %}">
                    <a href="{{ url_for('post', title=post['title']) }}">{{ post['title'] }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('edit_post') }}" class="create-post-link">创建新博文</a>
        <form action="{{ url_for('upload_post') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="markdown_file">
            <input type="submit" value="上传 Markdown 文件">
        </form>
    </div>
</body>
</html>
