<!doctype html>
<html>
<head>
    <title>{{ post['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="post">
            <h1>{{ post['title'] }}</h1>
            <div class="post-content">
                {{ post['content']|safe }}
            </div>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('edit_post', title=post['title']) }}" class="edit-post-link">编辑博文</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
